.article-figure {
  margin: 2rem 0 1.75rem 0;
}

.article-figure__header {
  height: 3rem;
  border-radius: 0.125rem 0.125rem 0 0;
  background: rgba(0, 0, 0, 0.54);
  color: white;
}

.article-figure__title {
  margin-left: 1.5rem;
  font-weight: normal;
  font-family: 'Merriweather', sans-serif;
}

.article-figure__actions,
.article-figure__actions button {
  height: inherit;
}

.article-figure__actions button {
  margin: 0;
  padding: 0;
  width: 2.75rem;
  background: transparent;
  border: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
  transition: all 0.25s ease-in-out;
}

.article-figure__actions button:hover {
  background-color: rgba(0, 0, 0, 0.2)!important;
}

.article-figure__actions button:last-child {
  border: none;
}

.article-figure__actions button.fullscreen {
  background: url(../img/fullscreen-icon-24.svg) no-repeat center;
  background-size: 0.875rem;
}

.article-figure__actions button.open {
  background: url(../img/open-icon-24.svg) no-repeat center;
  background-size: 0.875rem;
}

.article-figure__content {
  padding: 1rem 0;
  background: #F2F2F2;
  border-radius: 0 0 0.125rem 0.125rem;
}



.article-figure__video {
  position: relative;
  width: 50%;
}

.article-figure__video img {
  width: 100%;
}

.article-figure__video button {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none'%3E%3Cpath fill='%23fff' d='M20 33l12-9-12-9v18zm4-29C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 36c-8.82 0-16-7.18-16-16S15.18 8 24 8s16 7.18 16 16-7.18 16-16 16z'/%3E%3C/svg%3E") no-repeat center;
}

.article-figure__caption {
  margin-top: 0.375rem;
  font-style: italic;
  font-weight: 300;
}

.article-figure__caption span {
  font-weight: normal;
}

.article-figure__content {
  position: relative;
}

.article-figure.collapsed .article-figure__content {
  overflow: hidden;
  max-height: 200px;
}

.article-figure.collapsed .article-figure__content::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.article-figure__table {
  // display: block;
  // height: 500px;
  // overflow-y: scroll;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.article-figure__table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  // width: 100%;
  padding: 0.5rem 0;

}

.article-figure__table tr:nth-child(odd) {
  background: white;
}

.article-figure__table tr:first-child {
  background: inherit;
}

.table__more-button {
  margin-top: 0.375rem;
}

.table__more-button a {
  display: inline-flex;
  position: relative;
  padding: 0.375rem 1.375rem 0.375rem 0.5rem;
  background: transparent;
  border: none;
  color: rgba(0, 119, 194, 0.87);
  font-family: Merriweather Sans;
  font-size: 0.875rem;
  text-decoration: none;
}

.table__more-button a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 14px;
  height: 14px;
  transform: translateY(-50%) rotate(-180deg);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230077c2de' d='M12.802 14.872L22.395 5 24 6.652 12 19 0 6.652 1.605 5l9.593 9.872.802.825z'/%3E%3C/svg%3E") no-repeat center;
  transition: all 0.25s ease-in-out;
}

.article-figure.collapsed .table__more-button a::after {
  transform: translateY(-50%) rotate(0);
}

@media (max-width: 960px) {
  .article-figure__video {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .article-figure__table {
    table-layout: auto;
  }

  .article-figure__table td {
    border: 1px solid #e0e0e0;
  }

  .article-figure .article-figure__content {
    overflow: scroll;
    // border: 1px solid #9E9E9E;
  }

  .article-figure.table .article-figure__content {
    border: 1px solid #9E9E9E;

  }

  .article-figure__table tr td {
    min-width: 7.5rem;
  }

  .article-figure__table tr td:first-child {
    min-width: 12.5rem;
  }

  .table__more-button {
    margin: 0;
    border: 1px solid #9E9E9E;
    border-top: 0;
  }

  .table__more-button a {
    padding: 1rem 1.375rem 1rem 1rem;
  }
}

