.authors {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.authors__title {
  position: relative;
  font-size: inherit;
}

.author img {
  // width: 1.5rem;
  height: 1.5rem;
  padding-right: 0.375rem;
}

.author a {
  font-size: inherit;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}

.more-authors {
  margin: 0 0.375rem;
    padding: 0.25rem 0.75rem;
    background: #e0e0e0;
    border: none;
    border-radius: 0.125rem;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.more-authors:hover {
  background: rgba(0, 0, 0, 0.1);
}

.authors .authors__title {
  padding-left: 1rem;
}

.authors .authors__title::before {
  content: '•';
  position: absolute;
  left: 0.3125rem;
  color: rgba(0, 0, 0, 0.54);
}

.authors .authors__title:first-child {
  padding-left: 0;
}

.authors .authors__title:first-child::before {
  content: '';
}

.article-header .related-article__authors {
  padding: 0 0 0.75rem 0;
  border-bottom: 1px solid #e0e0e0;
}