
.breadcrumbs {
  padding: 1rem 2rem 0 2rem;
}

.breadcrumbs li {
  padding-right: 1.5rem;
  position: relative;
}

.breadcrumbs li::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.375rem;
  width: 0.75rem;
  height: 0.75rem;
  transform: translateY(-50%);
  background: url(../img/arrow-right.svg) no-repeat center;
  background-size: contain;
}

.breadcrumbs li:last-child::after {
  content: '';
  background: none;
}

.breadcrumbs li a {
  display: block;
  font-style: italic;
  color: rgba(121, 121, 121, 0.87);
  font-size: 0.75rem;
  text-decoration: none;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  max-width: 18.75rem;
}

.breadcrumbs .breadcrumb.active {
  color: black;
}

@media (max-width: 960px) {
  .breadcrumbs {
    display: none;
  }
  .breadcrumbs li a {
    max-width: 14.75rem;;
  }
}