.btn--link {
  color: #0187B3 !important;
  font-weight: bold;
}

.btn__solid--small {
  background: #0187B3;
  border-radius: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.375rem 0.75rem;
}

.btn__solid--small:hover {
  background: rgb(1, 120, 160);
  color: white!important;
}

.btn--icon {
  margin: 0;
  padding: 0;
  display: block;
  width: 2rem;
  height: 2rem;
  border: none;
  background: #F2F2F2;
  border-radius: 0.125rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.btn--icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn__solid--icon {
  padding: 0 0.75rem 0 2rem;
  display: block;
  background: #2189CA;
  border: none;
  border-radius: 0.125rem;
  color: white;
  font-size: 0.8125rem;
  height: 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__ghost {
  padding: 0.5rem 2.75rem;
  border: 1px solid #333333;
  border-radius: 0.125rem;
  text-decoration: none;
  color: inherit;
}

.button {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
}

.button__icon {
  padding: 0 0 0 1.375rem;
}

.button__icon--small {

}

// .button__icon.citation {
//   background-image: url(/img/citation-icon-24.svg);
//   background-repeat: no-repeat;
//   background-position: left center;
//   color: #757575;
// }

.btn--icon.citation {
  background-image: url(../img/citation-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button__icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 1rem;
  height: 1rem;
  transform: translateY(-50%);
  
}

.button__icon.metrics::before {
  background: url(../img/metrics-icon-24.svg) no-repeat center;
  background-size: contain;
}

.button__icon.citation::before {
  background: url(../img/citation-icon-24.svg) no-repeat center;
  background-size: contain;
}

.button__solid {
  border-radius: 0.125rem;
  font-size: 0.8125rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__solid--icon {
  padding: 0 0.75rem 0 2rem;
}

.button__solid--icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  transform: translateY(-50%);
}

.button__solid.unlock {
  background: #5AAB00;
  color: white;
}

.button__solid.unlock::before {
  background: url(../img/unlock-icon-24.svg) no-repeat center;
  background-size: contain;
}

.button--link {
  display: inline-flex;
  width: 0.875rem;
  height: 0.875rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%231F86C7' fill-rule='evenodd' d='M18.939 0v14.809H6.857l4.959-4.476-2.163-1.952L1 16.19 9.653 24l2.163-1.952-4.959-4.476H22V0z'/%3E%3C/svg%3E") no-repeat center;
  background-size: 0.875rem;
}
