.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-links li a {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.25s ease-in-out;
}

.social-links li a:hover {
  opacity: 0.5;
}

.social-links .facebook {
  background: url(../img/facebook-icon.svg) no-repeat center;
  background-size: contain;
}

.social-links .twitter {
  background: url(../img/twitter-icon.svg) no-repeat center;
  background-size: contain;
}

.social-links .linkedin {
  background: url(../img/linkedin-icon.svg) no-repeat center;
  background-size: contain;
}

.social-links .mail {
  background: url(../img/mail-icon.svg) no-repeat center;
  background-size: contain;
}

.social-links .reddit {
  background: url(../img/reddit-icon.svg) no-repeat center;
  background-size: contain;
}

.social-links .stackoverflow {
  background: url(../img/stackoverflow-icon.svg) no-repeat center;
  background-size: contain;
}

.social-links .rss {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M.002 0C4.498 0 8.4 1.2 12 3.3a24.182 24.182 0 0 1 8.697 8.7C22.801 15.6 24 19.8 24 24h-4.502c0-5.4-1.8-10.2-5.7-13.8C9.9 6.6 5.4 4.5.003 4.5V0zm0 8.7c4.2 0 7.797 1.5 10.797 4.5 3 3 4.502 6.6 4.502 10.8h-4.502c0-3-1.2-5.7-3.299-7.8-2.1-2.1-4.5-3-7.498-3V8.7zm.9 9.6c.6-.599 1.498-.899 2.399-.899.9 0 1.8.3 2.4.9.6.6.9 1.499.9 2.398 0 .9-.3 1.8-.9 2.4-.6.6-1.5.9-2.4.9-.9 0-1.801-.3-2.4-.9C.3 22.499 0 21.6 0 20.7c0-.9.3-1.8.9-2.4h.002z'/%3E%3C/svg%3E") no-repeat center;
  background-size: 50%;
}

@media (max-width: 960px) {
  .social-links li a {
    width: 2rem;
    height: 2rem;
  }
}