.flex {
  display: flex;
}

.flex--center-middle {
  display: flex;
  align-items: center;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex--evenly {
  justify-content: space-evenly;
}

.flex--middle {
  align-items: center;
}

.flex--top {
  align-items: flex-start;
}

.flex--bottom {
  align-items: flex-end;
}

.flex--between {
  justify-content: space-between;
}

.wrap {
  flex-flow: wrap;
}