a {
  color: #2088C9;
  font-size: 0.8125rem;
}

.link--default {
  text-decoration: none;
}

.link-alt {
  color: #757575 !important;
  font-style: italic;
}

.link--secondary {
  color: rgba(0, 0, 0, 0.54);
  font-size: inherit;
  text-decoration: none;
}