html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
overflow-x: hidden;
}

.main-page {
  padding-top: 4.3125rem;
}

.container--fluid {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 87.5rem;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 52.5rem;
}

a {
  outline-width: 0.0625rem;
  outline-color: #2088C9;
}

button {
  outline-width: 0.0625rem;
  outline-color: #2088C9;
}